
.product-card{
    
   background: #fff;
   border: .1rem solid rgba(0,0,0,2);
   border-radius: .3rem;
   box-shadow: var(--box-shadow);
    & img{
        padding-left: 23%;
        object-fit: cover;
        width: 800px;
    }
}

.badge{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: #CC66FF;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2%;
}

.product-details{
    margin:40px;
    font-size: 20px !important;
    color: #777575;
    font-family: monospace;
    padding-left: 20px;
}



.product-bottom-details{
    margin: 40px;
    font-size: 20px !important;
    color: #777575;
    
}