nav{
    background: #B452CD;
    height: 50px;

    & ul{
        height: 100%;
        display:flex;
        justify-content:flex-start;
        list-style: none;

        & li{
            font-style: inherit;
            text-decoration: none;
            display: flex;
            margin: 10px;
            color: #fff;
            padding: 6px 12px;
            margin-left: 10px;

            &:hover{
                background-color: #FFBBFF;
                color: white;
                padding: 6px 12px;
            }
        }

        & a{
            text-decoration: none;
            color: #fff;
        }
    }
    .active{
        background-color: #FFBBFF;
    }
    .icons{
        position: absolute;
        right: 20px;
        margin: revert-layer;
        font-size: 2.0rem;
      
      }
}